body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
form {
    margin-bottom: 20px;
}
button{
    padding: 10px 20px;
    background-color: aqua;
    color: black;
    border: none;
}
button:hover{
    background-color:aquamarine
}